<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/aditya/IdeaProjects/Toolshop">
        <classes>
<!--            <class name="testCases.signUpLoginTest">-->
<!--                <methods>-->
<!--                    <include name="presignup"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="testCases.signUpTest">
                <methods>
                    <include name="verifySignUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>